.contact-card{
    width: 400px;
    height: 400px;
    border: 2px solid;
    margin: 10px 20px;
    padding: 5px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.contact-container{
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    offset-position: center;
}