@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  font-family: "Outfit", sans-serif;
}

.Sectionheading h1 {
  letter-spacing: -1.28px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
}
.Sectionheading p{
  color: rgba(18, 9, 30, .6);
  font-size: 20px;
  
}
p{
  text-align: center;
}